STORAGE_BACKEND=s3
S3_BUCKET=borg-files
S3_REGION=us-east-1
S3_ENDPOINT=http://127.0.0.1:8333
AWS_ACCESS_KEY_ID=seaweedfs
AWS_SECRET_ACCESS_KEY=seaweedfssecret
S3_PREFIX=borg/

BACKUP_BACKEND=s3
BACKUP_MODE=active_work_only
BACKUP_BUCKET=borg-backups
BACKUP_REGION=us-east-1
BACKUP_ENDPOINT=http://127.0.0.1:8333
BACKUP_ACCESS_KEY_ID=seaweedfs
BACKUP_SECRET_ACCESS_KEY=seaweedfssecret
BACKUP_PREFIX=borg-backups/
BACKUP_POLL_INTERVAL_S=300

SEARCH_BACKEND=vespa
VESPA_URL=http://127.0.0.1:8080
VESPA_NAMESPACE=borg
VESPA_DOCUMENT_TYPE=project_file

DATABASE_URL=postgres://borg:borg@127.0.0.1:5432/borg
